.home-banner {
  min-height: 90vh;
  height: 100%;
  background-image: url('/home-banner.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .title {
      font-size: 4rem;
      font-weight: 600;
      font-family: 'Cairo', sans-serif;
      line-height: 4rem;

      > span {
        color: var(--primary-color);
        font-weight: 900;
      }
    }

    .subtitle {
      font-family: 'Assistant', sans-serif;
      font-weight: 400;
      font-size: 1.5rem;
      text-wrap: wrap;
      max-width: 700px;
    }
  }

  .spacer {
    width: 40%;
    margin-right: auto;
  }

  @media (max-width: 767px) {
    background-position: 65% 0;

    .spacer {
      display: none;
    }

    .content {
      width: 90%;

      .title {
        font-size: 3rem;
        line-height: 3rem;
      }

      .subtitle {
        font-size: 1rem;
        text-wrap: wrap;
        max-width: 400px;
      }
    }
  }
}
