<section class="home-banner">
  <div class="content">
    <div class="title">TRANSFORM<br /><span>YOUR HEALTH!</span></div>
    <div class="subtitle">
      <strong>Let’s get healthy together!</strong> Join me and make healthy eating into a lifestyle, with easy to follow
      nutrition information.
    </div>
    <div>
      <p-button label="LET'S WORK TOGETHER" size="large" />
    </div>
  </div>
  <div class="spacer"></div>
</section>

<section>
  <div>Welcome to Ultimate You!</div>
  <div>Health Coaching Just Got Easier!</div>
  <div>
    Hi, I’m Ultimate You. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum sapien ut ex semper
    molestie. Ut quis fringilla augue, eget mollis lacus. Donec sodales arcu velit, ac sodales magna condimentum quis.
    Sed felis libero, ullamcorper venenatis mauris ac, scelerisque rhoncus nibh. Maecenas convallis tincidunt purus,
    vitae imperdiet lectus pharetra efficitur. Sed facilisis mauris eu metus hendrerit pellentesque.
  </div>
</section>
