<p-card>
  <h5 class="pb-4">Home Banner</h5>
  <form class="flex flex-column gap-2" [formGroup]="bannerForm">
    <div>
      <label style="width: 100%">Title 1:</label>
      <input pInputText type="text" style="width: 100%" formControlName="title1" />
    </div>
    <div>
      <label style="width: 100%">Title 2:</label>
      <input pInputText type="text" style="width: 100%" formControlName="title2" />
    </div>
    <div>
      <label style="width: 100%">Description:</label>
      <p-editor formControlName="description" [style]="{ height: '10rem' }" />
    </div>
    <p-button label="SAVE" type="submit" [disabled]="!bannerForm.valid" (onClick)="saveBanner()" />
    <div>
      <label>Upload Image/Video:</label>
      <p-fileUpload
        #bannerUploader
        accept="image/*,video/*"
        mode="advanced"
        name="file"
        method="post"
        [customUpload]="true"
        [maxFileSize]="20000000"
        [multiple]="false"
        (uploadHandler)="onUpload($event)" />
    </div>
  </form>
</p-card>
