<p-tabs [value]="0">
  <p-tablist>
    <p-tab [value]="0">Page Content</p-tab>
    <p-tab [value]="1">Services List</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel [value]="0">
      <div class="grid grid-nogutter">
        <div class="col-12 md:col-6 p-2">
          <app-admin-services-banner />
        </div>
        <div class="col-12 md:col-6 p-2">
          <app-admin-services-summary />
        </div>
      </div>
    </p-tabpanel>
    <p-tabpanel [value]="1">
      <p-table styleClass="p-datatable-striped" [scrollable]="true" [value]="services()">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Price</th>
            <th style="text-align: center" pFrozenColumn alignFrozen="right">
              <a [routerLink]="['new']">
                <p-button
                  icon="pi pi-plus"
                  size="small"
                  styleClass="table-action-button"
                  [text]="true"
                  [rounded]="true" />
              </a>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-service>
          <tr>
            <td style="width: 32%">{{ service.name }}</td>
            <td style="width: 32%">
              <app-asset [assetId]="service.asset?.name" [style]="{ 'max-width': '10rem', 'max-height': '10rem' }" />
            </td>
            <td style="width: 31%">{{ service.price }}</td>
            <td style="width: 5%">
              <div class="flex justify-content-end" pFrozenColumn alignFrozen="right">
                <a [routerLink]="[service.id]">
                  <p-button
                    icon="pi pi-pencil"
                    size="small"
                    styleClass="table-action-button"
                    severity="info"
                    [text]="true"
                    [rounded]="true" />
                </a>
                <p-button
                  icon="pi pi-trash"
                  size="small"
                  styleClass="table-action-button"
                  severity="danger"
                  [text]="true"
                  [rounded]="true"
                  (onClick)="onDeleteClick(service.id)" />
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
