<div class="footer grid grid-nogutter justify-content-center align-items-center">
  <div class="col-12 md:col-6 p-2">
    Copyright 2024 | Wellness With <b style="color: var(--p-primary-color)" (dblclick)="showLogin()">Jana</b>
  </div>
  <div class="social col-12 md:col-6 p-2">
    @if (contactInfo()?.whatsapp) {
      <a [href]="'https://wa.me/' + contactInfo()?.whatsapp" target="_blank"><i class="pi pi-whatsapp"></i></a>
    }
    @if (contactInfo()?.ig) {
      <a [href]="contactInfo()?.ig" target="_blank"><i class="pi pi-instagram"></i></a>
    }
    @if (contactInfo()?.facebook) {
      <a [href]="contactInfo()?.facebook" target="_blank"><i class="pi pi-facebook"></i></a>
    }
    @if (contactInfo()?.youtube) {
      <a [href]="contactInfo()?.youtube" target="_blank"><i class="pi pi-youtube"></i></a>
    }
  </div>
</div>
