<section class="about-description">
  <div
    class="image-container animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinleft">
    <app-asset [style]="{ 'max-width': '100%' }" assetId="about-description" />
  </div>
  <div class="content">
    <h5
      class="animation-duration-1000 animation-iteration-1 animation-ease-in-out"
      appLazyAnimate
      lazyAnimateClass="fadeindown"
      [innerHTML]="'about-description-title' | translate"></h5>
    <p
      class="description animation-duration-2000 animation-iteration-1 animation-ease-in-out"
      appLazyAnimate
      lazyAnimateClass="fadeindown"
      [innerHTML]="'about-description-description' | translate"></p>
    <div
      class="description animation-duration-3000 animation-iteration-1 animation-ease-in-out"
      appLazyAnimate
      lazyAnimateClass="fadeindown">
      <p-button size="large" label="BOOK A SESSION" />
    </div>
  </div>
</section>
