.services-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;
  text-align: center;

  .title,
  .content {
    max-width: 50%;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

.service-link {
  display: block;
  text-decoration: none;
  color: #000000;
  border: 1px solid #000000;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    background-color: #000000;
    color: #ffffff;
  }
}
