<div class="flex flex-column gap-2">
  <p-card>
    <h5 class="pb-4">Blog Info</h5>
    <form class="grid justify-content-end" [formGroup]="blogForm">
      <div class="col-6 md:col-3">
        <label>Title:</label>
        <input pInputText [fluid]="true" [formControl]="blogForm.controls.title" />
      </div>

      <div class="col-6 md:col-3">
        <label>Tag:</label>
        <input pInputText [fluid]="true" [formControl]="blogForm.controls.tag" />
      </div>

      <div class="col-6 md:col-3">
        <label>Author:</label>
        <input pInputText [fluid]="true" [formControl]="blogForm.controls.author" />
      </div>

      <div class="col-6 md:col-3">
        <label>Related:</label>
        <p-multi-select
          optionLabel="title"
          optionValue="id"
          [options]="relatedOptions()"
          [fluid]="true"
          [formControl]="blogForm.controls.related" />
      </div>

      @if (blog()?.id) {
        <div class="col-12 md:col-6 p-2">
          <label>Choose or drop a file:</label>
          <p-fileupload
            accept="image/*,video/*"
            mode="advanced"
            name="file"
            method="post"
            [url]="uploadUrl()"
            [maxFileSize]="20000000"
            [multiple]="false" />
        </div>
      }

      <div class="col-12 md:col-6" style="text-align: end">
        <p-button label="SAVE" [disabled]="blogForm.invalid" (onClick)="onBlogInfoSave()" />
      </div>
    </form>
  </p-card>

  @if (blog()?.id) {
    <p-card>
      <div class="flex pb-4 gap-2 justify-content-between">
        <h5>Blog Content</h5>
        <p-message size="small" severity="info" [closable]="true">Auto Save Enabled</p-message>
      </div>
      <ckeditor [editor]="Editor" [config]="config" [data]="content()" [disableTwoWayDataBinding]="true" />
    </p-card>
  }
</div>
