<section class="home-summary">
  <h5 class="title">Welcome to Ultimate You!</h5>
  <h4>Health Coaching Just Got Easier!</h4>
  <p class="content">
    Hi, I’m <b>Ultimate You.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum sapien ut ex
    semper molestie. Ut quis fringilla augue, eget mollis lacus. Donec sodales arcu velit, ac sodales magna condimentum
    quis. Sed felis libero, ullamcorper venenatis mauris ac, scelerisque rhoncus nibh. Maecenas convallis tincidunt
    purus, vitae imperdiet lectus pharetra efficitur. Sed facilisis mauris eu metus hendrerit pellentesque.
  </p>
</section>
