<section class="home-summary">
  <h5
    class="title animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeindown"
    [innerHTML]="'home-summary-title' | translate"></h5>
  <h4
    class="animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeindown"
    [innerHTML]="'home-summary-subtitle' | translate"></h4>
  <p
    class="content animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeindown"
    [innerHTML]="'home-summary-description' | translate"></p>
</section>
