<section class="home-summary">
  <h5
    class="title animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeindown">
    Welcome to Wellness With Jana!
  </h5>
  <h4
    class="animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeindown">
    Health Coaching Just Got Easier!
  </h4>
  <p
    class="content animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeindown">
    Hi, I’m <b>Jana.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam interdum sapien ut ex semper
    molestie. Ut quis fringilla augue, eget mollis lacus. Donec sodales arcu velit, ac sodales magna condimentum quis.
    Sed felis libero, ullamcorper venenatis mauris ac, scelerisque rhoncus nibh. Maecenas convallis tincidunt purus,
    vitae imperdiet lectus pharetra efficitur. Sed facilisis mauris eu metus hendrerit pellentesque.
  </p>
</section>
