<section class="section">
  <div class="card">
    <div class="content">
      <h4
        class="animation-duration-1000 animation-iteration-1 animation-ease-in-out"
        appLazyAnimate
        lazyAnimateClass="fadeindown"
        [innerHTML]="'home-guide-title' | translate"></h4>
      <div
        class="animation-duration-2000 animation-iteration-1 animation-ease-in-out"
        appLazyAnimate
        lazyAnimateClass="fadeindown"
        [innerHTML]="'home-guide-description' | translate"></div>
      <a routerLink="/contact">
        <p-button
          class="animation-duration-3000 animation-iteration-1 animation-ease-in-out"
          appLazyAnimate
          lazyAnimateClass="fadeindown"
          label="GET STARTED HERE!"
          size="large"
          severity="contrast"
          [outlined]="true" />
      </a>
    </div>
    <div
      class="image-container animation-duration-3000 animation-iteration-1 animation-ease-in-out"
      appLazyAnimate
      lazyAnimateClass="fadein">
      <app-asset assetId="home-highlighted-guide" />
    </div>
  </div>
</section>
