<p-card>
  <h5 class="pb-4">Home Guide</h5>
  <form class="flex flex-column gap-2" [formGroup]="guideForm">
    <div>
      <label style="width: 100%">Title:</label>
      <input pInputText type="text" style="width: 100%" formControlName="title" />
    </div>
    <div>
      <label style="width: 100%">Description:</label>
      <p-editor formControlName="description" [style]="{ height: '10rem' }" />
    </div>
    <p-button label="SAVE" type="submit" [disabled]="!guideForm.valid" (onClick)="saveGuide()" />
    <div>
      <app-asset-uploader [uploadUrl]="url" [aspectRatio]="1" />
    </div>
  </form>
</p-card>
