<div class="grid grid-nogutter">
  <div class="col-12 md:col-6">
    <p-card>
      <h5 class="pb-4">Home Banner</h5>
      <form class="flex flex-column gap-2" [formGroup]="bannerForm">
        <div>
          <label style="width: 100%">Title 1:</label>
          <input pInputText type="text" style="width: 100%" formControlName="title1" />
        </div>
        <div>
          <label style="width: 100%">Title 2:</label>
          <input pInputText type="text" style="width: 100%" formControlName="title2" />
        </div>
        <div>
          <label style="width: 100%">Description:</label>
          <input pInputText type="text" style="width: 100%" formControlName="description" />
        </div>
        <p-button label="SAVE" type="submit" [disabled]="!bannerForm.valid" (onClick)="saveBanner()" />
      </form>
    </p-card>
  </div>
</div>
