<section class="home-banner" [ngStyle]="{ 'background-image': isImage() ? 'url(' + asset()?.path + ')' : '' }">
  @if (isVideo()) {
    <video class="background-video" [autoplay]="true" [muted]="true" [loop]="true">
      <source [src]="asset()?.path" />
    </video>
  }
  <div class="content">
    <div>
      <h2 class="title-1" [innerHTML]="'home-banner-title-1' | translate"></h2>
      <h2 class="title-2" [innerHTML]="'home-banner-title-2' | translate"></h2>
    </div>
    <div class="subtitle" [innerHTML]="'home-banner-description' | translate"></div>
    <div>
      <a routerLink="/contact">
        <p-button label="LET'S WORK TOGETHER" size="large" />
      </a>
    </div>
  </div>
  <div class="spacer"></div>
</section>
