.home-banner {
  min-height: 95vh;
  height: 100%;
  background-image: url('/home-banner.webp');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 40%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .title-2 {
      color: var(--primary-color);
      font-weight: 900;
    }

    .subtitle {
      text-wrap: wrap;
      max-width: 700px;
    }
  }

  .spacer {
    width: 40%;
    margin-right: auto;
  }

  @media (max-width: 767px) {
    background-position: 65% 0;

    .spacer {
      display: none;
    }

    .content {
      width: 90%;

      .subtitle {
        text-wrap: wrap;
        max-width: 400px;
      }
    }
  }
}
