<p-fieldset legend="Choose Image or Video">
  <div class="flex gap-2">
    <p-button label="Image" icon="pi pi-image" (onClick)="imageInput.showPicker()" />
    <p-button label="Video" icon="pi pi-video" (onClick)="videoInput.showPicker()" />
    <p-button
      label="Upload"
      icon="pi pi-upload"
      severity="secondary"
      [disabled]="!croppedImage() && !selectedVideo()"
      [loading]="isUploadLoading()"
      (onClick)="uploadCroppedImage()" />
  </div>

  <input
    #imageInput
    type="file"
    style="display: none"
    accept="image/*"
    [multiple]="false"
    (change)="onImageFileChange($event)" />

  <input
    #videoInput
    type="file"
    style="display: none"
    accept="video/*"
    [multiple]="false"
    (change)="onVideoFileChange($event)" />

  @if (imageChangedEvent()) {
    <image-cropper
      format="webp"
      [imageChangedEvent]="imageChangedEvent()"
      [maintainAspectRatio]="maintainAspectRatio()"
      [aspectRatio]="aspectRatio()"
      (imageCropped)="imageCropped($event)"
      (loadImageFailed)="loadImageFailed()" />
  }

  @if (selectedVideoUrl()) {
    <video style="padding: 1rem; max-width: 100%; max-height: 100%" [autoplay]="true" [muted]="true" [loop]="true">
      <source [src]="selectedVideoUrl()" />
    </video>
  }
</p-fieldset>
