<section class="section">
  <h4 class="p-4">Client Testemonials</h4>
  <div class="cards-container">
    <app-home-client-testemonial-card
      name="David Nelson"
      address="New York, USA"
      comment="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu ante, egestas ut ullamcorper sed, aliquam et odio. Sed ac interdum eros, ac semper lorem. Praesent at ipsum molestie, facilisis lacus porta, vulputate purus. Maecenas id neque ut turpis faucibus porta." />
    <app-home-client-testemonial-card
      class="with-pt"
      name="David Nelson"
      address="New York, USA"
      comment="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu ante, egestas ut ullamcorper sed, aliquam et odio. Sed ac interdum eros, ac semper lorem. Praesent at ipsum molestie, facilisis lacus porta, vulputate purus. Maecenas id neque ut turpis faucibus porta." />
    <app-home-client-testemonial-card
      name="David Nelson"
      address="New York, USA"
      comment="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque arcu ante, egestas ut ullamcorper sed, aliquam et odio. Sed ac interdum eros, ac semper lorem. Praesent at ipsum molestie, facilisis lacus porta, vulputate purus. Maecenas id neque ut turpis faucibus porta." />
  </div>
</section>
