<p-stepper [value]="1" [linear]="true">
  <p-step-item [value]="1">
    <p-step>Choose a day</p-step>
    <p-step-panel>
      <ng-template let-activateCallback="activateCallback">
        <p-calendar
          appendTo="body"
          [touchUI]="isMobile"
          [minDate]="today"
          [(ngModel)]="date"
          [style]="{ width: '100%' }" />
        <div class="py-2">
          <p-button size="small" label="NEXT" [disabled]="!date()" (onClick)="onDateConfirmed(activateCallback)" />
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="2">
    <p-step>Choose an available time</p-step>
    <p-step-panel>
      <ng-template let-activateCallback="activateCallback">
        <div class="timeline-wrapper">
          <p-timeline align="alternate" [value]="timeslots()">
            <ng-template pTemplate="marker" let-timeslot>
              @let checked = selectedTimeSlot() === timeslot;
              @let reserved = timeslot.reserved;
              <span
                class="timeslot"
                pTooltip="Reserved"
                tooltipPosition="bottom"
                [tooltipDisabled]="!reserved"
                [ngStyle]="{ cursor: reserved ? 'not-allowed' : 'pointer' }"
                [ngClass]="{ reserved: reserved, checked: checked }"
                (click)="toggleTimeslot(timeslot)">
                @if (reserved) {
                  <i class="pi pi-times"></i>
                } @else if (checked) {
                  <i class="pi pi-check-circle"></i>
                } @else {
                  <i class="pi pi-circle-on"></i>
                }
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-timeslot>
              {{ timeslot.start | date: 'hh:mm a' }} - {{ timeslot.end | date: 'hh:mm a' }}
            </ng-template>
          </p-timeline>
        </div>
        <div class="flex gap-2 py-2">
          <p-button size="small" severity="secondary" label="BACK" (onClick)="activateCallback(1)" />
          <p-button size="small" label="NEXT" [disabled]="!selectedTimeSlot()" (onClick)="activateCallback(3)" />
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="3">
    <p-step>Confirm Booking</p-step>
    <p-step-panel>
      <ng-template let-activateCallback="activateCallback">
        <div class="flex flex-column gap-4">
          <div class="pb-1">
            <a style="text-decoration: underline; cursor: pointer">Sign Up</a> to autofill your info
          </div>

          <div>
            <p-floatlabel>
              <input id="name" style="width: 100%" pInputText type="text" [formControl]="infoForm.controls.name" />
              <label for="name">Name</label>
            </p-floatlabel>
            @if (infoForm.controls.name.dirty && infoForm.controls.name.invalid) {
              <small>Your name is required</small>
            }
          </div>

          <div>
            <p-floatlabel>
              <input
                id="lastname"
                style="width: 100%"
                pInputText
                type="text"
                [formControl]="infoForm.controls.lastname" />
              <label for="lastname">Last Name</label>
            </p-floatlabel>
            @if (infoForm.controls.lastname.dirty && infoForm.controls.lastname.invalid) {
              <small>Your last name is required</small>
            }
          </div>

          <div>
            <p-floatlabel>
              <p-dropdown
                id="country"
                appendTo="body"
                [style]="{ width: '100%' }"
                [virtualScroll]="true"
                [virtualScrollItemSize]="38"
                [filter]="true"
                [options]="countryOptions"
                [formControl]="infoForm.controls.country" />
              <label for="country">Country</label>
            </p-floatlabel>
            @if (infoForm.controls.country.dirty && infoForm.controls.country.invalid) {
              <small>Your country is required</small>
            }
          </div>

          <div>
            <p-floatlabel>
              <input id="email" style="width: 100%" pInputText type="email" [formControl]="infoForm.controls.email" />
              <label for="email">Email</label>
            </p-floatlabel>
            @if (infoForm.controls.email.dirty && infoForm.controls.email.invalid) {
              <small>A valid email is required</small>
            }
          </div>

          <div>
            <p-floatlabel>
              <input pInputText id="phone" style="width: 100%" type="tel" [formControl]="infoForm.controls.phone" />
              <label for="phone">Phone Number</label>
            </p-floatlabel>
            @if (infoForm.controls.phone.dirty && infoForm.controls.phone.invalid) {
              <small>Your phone number is required</small>
            }
          </div>

          <div class="flex gap-2 py-2">
            <p-button size="small" severity="secondary" label="BACK" (onClick)="activateCallback(2)" />
            <p-button size="small" [disabled]="infoForm.invalid" label="NEXT" (onClick)="activateCallback(4)" />
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="4">
    <p-step>Confirm Booking</p-step>
    <p-step-panel>
      <ng-template let-activateCallback="activateCallback">
        <div class="flex flex-column">
          <p>
            Name: {{ infoForm.controls.name.value }}<br />
            Last Name: {{ infoForm.controls.lastname.value }} <br />
            Country: {{ infoForm.controls.country.value }}<br />
            Email: {{ infoForm.controls.email.value }} <br />
            Phone Number: {{ infoForm.controls.phone.value }} <br />
          </p>
          <p-divider />
          <p>
            Service: {{ service.name }} <br />
            Date: {{ date() | date: 'dd/MM/yyyy' }} <br />
            Time: {{ selectedTimeSlot()?.start | date: 'hh:mm a' }} - {{ selectedTimeSlot()?.end | date: 'hh:mm a' }}
            <br />
            Price: {{ service.price }}$
          </p>

          <div class="flex gap-2 py-4">
            <p-button size="small" severity="secondary" label="BACK" (onClick)="activateCallback(3)" />
            <p-button
              size="small"
              severity="danger"
              label="CONFIRM"
              [loading]="isLoading()"
              (onClick)="onBookingConfirmed()" />
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>
</p-stepper>
