<p-stepper [value]="1" [linear]="true">
  <p-step-item [value]="1">
    <p-step>Choose a day</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <p-date-picker
          appendTo="body"
          [readonlyInput]="true"
          [minDate]="today"
          [(ngModel)]="date"
          [style]="{ width: '100%' }" />
        <div class="py-2">
          <p-button size="small" label="NEXT" [disabled]="!date()" (onClick)="onDateConfirmed(activateCallback)" />
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="2">
    <p-step>Choose an available time</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="timeline-wrapper">
          <p-timeline align="alternate" [value]="timeslots()">
            <ng-template pTemplate="marker" let-timeslot>
              @let checked = selectedTimeSlot() === timeslot;
              @let reserved = timeslot.reserved;
              <span
                class="timeslot"
                pTooltip="Reserved"
                tooltipPosition="bottom"
                [tooltipDisabled]="!reserved"
                [ngStyle]="{ cursor: reserved ? 'not-allowed' : 'pointer' }"
                [ngClass]="{ reserved: reserved, checked: checked }"
                (click)="toggleTimeslot(timeslot)">
                @if (reserved) {
                  <i class="pi pi-times"></i>
                } @else if (checked) {
                  <i class="pi pi-check-circle"></i>
                } @else {
                  <i class="pi pi-circle-on"></i>
                }
              </span>
            </ng-template>
            <ng-template pTemplate="content" let-timeslot>
              {{ timeslot.start | date: 'hh:mm a' }} - {{ timeslot.end | date: 'hh:mm a' }}
            </ng-template>
          </p-timeline>
        </div>
        <div class="flex gap-2 py-2">
          <p-button size="small" severity="secondary" label="BACK" (onClick)="activateCallback(1)" />
          <p-button size="small" label="NEXT" [disabled]="!selectedTimeSlot()" (onClick)="activateCallback(3)" />
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>

  <p-step-item [value]="3">
    <p-step>Confirm Booking</p-step>
    <p-step-panel>
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-column">
          <p>
            Name: {{ user()?.name }}<br />
            Last Name: {{ user()?.lastname }} <br />
            Country: {{ user()?.country }}<br />
            Email: {{ user()?.email }} <br />
            Phone Number: {{ user()?.phone }} <br />
          </p>
          <p-divider />
          <p>
            Service: {{ service.name }} <br />
            Date: {{ date() | date: 'dd/MM/yyyy' }} <br />
            Time: {{ selectedTimeSlot()?.start | date: 'hh:mm a' }} - {{ selectedTimeSlot()?.end | date: 'hh:mm a' }}
            <br />
            Price: {{ service.price }}$
          </p>

          <div class="flex gap-2 py-4">
            <p-button size="small" severity="secondary" label="BACK" (onClick)="activateCallback(2)" />
            <p-button
              size="small"
              severity="danger"
              label="CONFIRM"
              [loading]="isLoading()"
              (onClick)="onBookingConfirmed()" />
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-item>
</p-stepper>
