/* You can add global styles to this file, and also import other style files */
@import 'primeng/resources/themes/aura-light-lime/theme.css';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

body {
  margin: 0;
}

:root {
  --custom-green: #69a032;
  --primary-font: 'cairo';
  --secondary-font: 'assistant';
  font-family: var(--secondary-font), sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font), sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 4rem;
  @media (max-width: 767px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;
  @media (max-width: 767px) {
    font-size: 3rem;
    line-height: 3rem;
  }
}

h3 {
  font-size: 3rem;
  line-height: 3rem;
  @media (max-width: 767px) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

h4 {
  font-size: 2.5rem;
  line-height: 2.5rem;
  @media (max-width: 767px) {
    font-size: 2rem;
    line-height: 2rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 2rem;
  @media (max-width: 767px) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

h6 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  @media (max-width: 767px) {
    font-size: 1rem;
    line-height: 1rem;
  }
}

p {
  font-family: var(--secondary-font), sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 1rem;
  }
}

a {
  color: var(--primary-color);

  &:hover {
    color: var(--highlight-text-color);
  }
}
