<section class="section">
  <div class="text-container grid grid-nogutter align-items-center gap-2">
    <h4 class="col-12 md:col-4">How I work with clients…</h4>
    <p class="col-12 md:col-6">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum faucibus lectus quis facilisis ultrices.
      Aenean blandit leo.
    </p>
  </div>
  <div class="list-container">
    <app-home-services-list-item
      image="woman-recording-cooking-video.webp"
      header="1:1 Consultation"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum this faucibus lectus quis facilisis not the ultrices." />

    <app-home-services-list-item
      image="group-of-people-doing-yoga-warrior-pose-at-studio.webp"
      header="Group Coaching"
      content="Maecenas condimentum eros we in eros, tempus eleifend the sapien porttitor ac. Aliquam our own varius neque nunc." />

    <app-home-services-list-item
      image="woman-with-fitness-tracker-crouches-and-watches-at.webp"
      header="30 Day Challenge"
      content="Sed consequat accu we are msan turpis, quis vulputate metus pulvinar eu. Mauris a rutrum ligula, et porta nunc." />
  </div>
</section>
