<section class="section">
  <div class="text-container grid grid-nogutter align-items-center gap-2">
    <h4
      class="col-12 md:col-4 animation-duration-1000 animation-iteration-1 animation-ease-in-out"
      appLazyAnimate
      lazyAnimateClass="fadeindown"
      [innerHTML]="'home-services-list-title' | translate"></h4>
    <div
      class="col-12 md:col-6 animation-duration-1000 animation-iteration-1 animation-ease-in-out"
      appLazyAnimate
      lazyAnimateClass="fadeindown"
      [innerHTML]="'home-services-list-description' | translate"></div>
  </div>
  <div class="list-container">
    @for (service of services(); track service.id) {
      <app-home-services-list-item
        [class]="'animation-iteration-1 animation-ease-in-out animation-duration-' + ($index + 1) * 1000"
        appLazyAnimate
        lazyAnimateClass="fadeindown"
        routerLink="/contact"
        [assetId]="service.asset?.name || ''"
        [header]="service.name"
        [content]="service.title" />
    }
  </div>
</section>
