<section class="section">
  <div
    class="image-container animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinleft">
    <img loading="lazy" src="woman-practicing-yoga-at-home.webp" alt="" />
  </div>
  <div
    class="content animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinright">
    <h4 [innerHTML]="'home-highlighted-service-title' | translate"></h4>
    <div class="flex flex-column gap-2" [innerHTML]="'home-highlighted-service-description' | translate"></div>
    <p-button label="BOOK A SESSION" severity="contrast" [outlined]="true" />
  </div>
</section>
