<section class="section">
  <div
    class="image-container animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinleft">
    @if (asset()?.type === AssetType.IMAGE) {
      <img loading="lazy" [src]="asset()?.path" [alt]="asset()?.name" />
    } @else if (asset()?.type === AssetType.VIDEO) {
      <video [autoplay]="true" [muted]="true" [loop]="true">
        <source [src]="asset()?.path" />
      </video>
    }
  </div>
  <div
    class="content animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinright">
    <h4 [innerHTML]="'home-highlighted-service-title' | translate"></h4>
    <div class="flex flex-column gap-2" [innerHTML]="'home-highlighted-service-description' | translate"></div>
    <p-button label="BOOK A SESSION" severity="contrast" [outlined]="true" />
  </div>
</section>
