<section class="section">
  <div
    class="image-container animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinleft">
    <app-asset styleClasses="asset-dimensions" assetId="home-highlighted-service" />
  </div>
  <div
    class="content animation-duration-1000 animation-iteration-1 animation-ease-in-out"
    appLazyAnimate
    lazyAnimateClass="fadeinright">
    <h4 [innerHTML]="'home-highlighted-service-title' | translate"></h4>
    <div class="flex flex-column gap-2" [innerHTML]="'home-highlighted-service-description' | translate"></div>
    <a routerLink="/services">
      <p-button label="BOOK A SESSION" severity="contrast" [outlined]="true" />
    </a>
  </div>
</section>
