<p-table styleClass="p-datatable-striped" [scrollable]="true" [value]="testemonials()">
  <ng-template pTemplate="header">
    <tr>
      <th>Client Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Description</th>
      <th style="text-align: center" pFrozenColumn alignFrozen="right">
        <a [routerLink]="['new']">
          <p-button icon="pi pi-plus" size="small" styleClass="table-action-button" [text]="true" [rounded]="true" />
        </a>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-testemonial>
    <tr>
      <td style="width: 21%">{{ testemonial.clientName }}</td>
      <td style="width: 21%">{{ testemonial.city }}</td>
      <td style="width: 21%">{{ testemonial.country }}</td>
      <td style="width: 22%">
        <div class="description">
          {{ testemonial.description }}
        </div>
      </td>
      <td style="width: 5%" pFrozenColumn alignFrozen="right">
        <div class="flex justify-content-end">
          <a [routerLink]="[testemonial.id]">
            <p-button
              icon="pi pi-pencil"
              size="small"
              styleClass="table-action-button"
              severity="info"
              [text]="true"
              [rounded]="true" />
          </a>
          <p-button
            icon="pi pi-trash"
            size="small"
            styleClass="table-action-button"
            severity="danger"
            [text]="true"
            [rounded]="true"
            (onClick)="onDeleteClick(testemonial.id)" />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
