<p-card>
  <h5 class="pb-4">Home Services List</h5>
  <form class="flex flex-column gap-2" [formGroup]="servicesListForm">
    <div>
      <label style="width: 100%">Title:</label>
      <input pInputText type="text" style="width: 100%" formControlName="title" />
    </div>
    <div>
      <label style="width: 100%">Description:</label>
      <p-editor formControlName="description" [style]="{ height: '10rem' }" />
    </div>
    <p-button label="SAVE" type="submit" [disabled]="!servicesListForm.valid" (onClick)="saveServicesList()" />
  </form>
</p-card>
